.nav-project-icon {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    right: 0;
    bottom: 8px;
    left: 0;
    background: linear-gradient(90deg, #d9d9d9 46.5%, rgba(115, 115, 115, 0.74));
  }
  .frame-child,
  .innovating-for-a,
  .nav-project-icon {
    margin: 0 !important;
    position: absolute;
  }
  .frame-child {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0e2744;
  }
  .innovating-for-a {
    width: 1440px;
    right: -200px;
    bottom: 16px;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .rectangle-parent {
    align-self: stretch;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .about,
  .home {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .home {
    text-decoration: none;
    height: 50px;
    width: 139px;
    color: inherit;
    flex-shrink: 0;
  }
  .about {
    height: 66px;
    flex: 1;
    margin-left: -31px;
  }
  .home-parent {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .blogs,
  .contact,
  .projects,
  .resources {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    width: 261px;
    z-index: 1;
  }
  .blogs,
  .contact,
  .resources {
    top: 2px;
    left: 131px;
    width: 92px;
    height: 38px;
  }
  .contact,
  .resources {
    top: 0;
    left: 223px;
    width: 264px;
    height: 50px;
  }
  .contact {
    text-decoration: none;
    left: 382px;
    color: inherit;
    width: 179px;
    height: 41px;
  }
  .projects-parent {
    height: 64px;
    flex: 1;
    position: relative;
    min-width: 365px;
    max-width: 100%;
    margin: 0 0 0-24px;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-100);
    font-family: var(--font-italiana);
  }
  .frame-parent,
  .nav-project-icon-parent {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left;
  }
  .frame-parent {
    margin: 0;
    width: 887px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    row-gap: 20px;
    white-space: nowrap;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-100);
    font-family: var(--font-italiana);
  }
  .nav-project-icon-parent {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    gap: 22px;
    font-size: var(--font-size-29xl);
    color: var(--color-white);
    font-family: var(--font-great-vibes);
  }
  .vision {
    height: 84px;
    width: 267px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .content,
  .vision-wrapper {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .vision-wrapper {
    flex-direction: row;
    justify-content: flex-end;
    padding: 22px 384px 0;
    margin-top: -88px;
  }
  .content {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-100);
    font-family: var(--font-italiana);
  }
  .aspiring-ceo-and {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .aspiring-ceo-and-entrepreneur-wrapper {
    width: 1404px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-base) 47px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: #8223e2;
    font-family: var(--font-pacifico);
  }
  .image3-2-icon {
    height: 955px;
    flex: 1;
    position: relative;
    border-radius: 70px;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 385px;
  }
  .welcome-to-my {
    align-self: stretch;
    position: relative;
  }
  .welcome-to-my-personal-website-wrapper {
    width: 563px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-77xl) 0 0;
    box-sizing: border-box;
    min-width: 563px;
    max-width: 100%;
  }
  .nav-items,
  .nav-items-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .nav-items {
    width: 1303px;
    justify-content: flex-start;
    gap: 147px;
  }
  .nav-items-wrapper {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 53px 75px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .image4-1-icon {
    height: 349px;
    flex: 1;
    position: relative;
    border-radius: 177px;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .image4-1-wrapper {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-base) 94px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .as-an-emerging {
    margin: 0;
  }
  .as-an-emerging-container {
    align-self: stretch;
    position: relative;
  }
  .image5-1-icon {
    width: 593px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .my-mission {
    flex: 1;
    position: relative;
  }
  .my-mission-wrapper {
    width: 290px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 35px;
    box-sizing: border-box;
  }
  .my-mission-is-container {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-poppins);
  }
  .frame-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lg);
    min-width: 469px;
    max-width: 100%;
  }
  .image5-1-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 34px;
    font-size: 36px;
    font-family: var(--font-pacifico);
  }
  .as-an-emerging-leader-in-the-f-parent,
  .frame-wrapper,
  .image5-1-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .as-an-emerging-leader-in-the-f-parent {
    flex: 1;
    flex-direction: column;
    gap: 31px;
  }
  .frame-wrapper {
    width: 1360px;
    flex-direction: row;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
  }
  .resilient-and-purpose-driven {
    margin-bottom: 0;
  }
  .innovator-and-problem-solver {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-13xl);
  }
  .why-it-matters-container {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
  }
  .desktop-1,
  .desktop-1-inner,
  .frame-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-group {
    flex: 1;
    flex-direction: column;
    gap: 64px;
    max-width: 100%;
  }
  .desktop-1,
  .desktop-1-inner {
    box-sizing: border-box;
  }
  .desktop-1-inner {
    align-self: stretch;
    flex-direction: row;
    padding: 0 24px 0 34px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: var(--color-midnightblue);
    overflow: hidden;
    flex-direction: column;
    padding: 0 0 87px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .welcome-to-my-personal-website-wrapper {
      flex: 1;
    }
    .nav-items {
      flex-wrap: wrap;
      gap: 73px;
    }
    .nav-items-wrapper {
      padding-left: var(--padding-7xl);
      padding-right: var(--padding-7xl);
      box-sizing: border-box;
    }
    .image5-1-icon {
      flex: 1;
    }
    .image5-1-parent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .innovating-for-a {
      font-size: var(--font-size-19xl);
    }
    .about,
    .blogs,
    .contact,
    .home,
    .projects,
    .resources,
    .vision {
      font-size: var(--font-size-7xl);
    }
    .vision-wrapper {
      padding-left: var(--padding-173xl);
      padding-right: var(--padding-173xl);
      box-sizing: border-box;
    }
    .aspiring-ceo-and {
      font-size: var(--font-size-13xl);
    }
    .welcome-to-my {
      font-size: var(--font-size-7xl);
    }
    .welcome-to-my-personal-website-wrapper {
      padding-top: 62px;
      box-sizing: border-box;
    }
    .nav-items-wrapper {
      padding-bottom: 49px;
      box-sizing: border-box;
    }
    .my-mission {
      font-size: var(--font-size-10xl);
    }
  }
  @media screen and (max-width: 750px) {
    .projects-parent {
      margin-left: 0;
    }
    .vision-wrapper {
      padding-left: var(--padding-77xl);
      padding-right: var(--padding-77xl);
      box-sizing: border-box;
    }
    .image3-2-icon,
    .welcome-to-my-personal-website-wrapper {
      min-width: 100%;
    }
    .nav-items {
      gap: 37px;
    }
    .nav-items-wrapper {
      padding-bottom: var(--padding-13xl);
      box-sizing: border-box;
    }
    .frame-container {
      min-width: 100%;
    }
    .image5-1-parent {
      gap: 17px;
    }
    .as-an-emerging-leader-in-the-f-parent {
      gap: 15px;
    }
    .frame-group {
      gap: 32px;
    }
  }
  @media screen and (max-width: 450px) {
    .innovating-for-a {
      font-size: var(--font-size-10xl);
    }
    .about,
    .blogs,
    .contact,
    .home,
    .projects,
    .resources {
      font-size: var(--font-size-lgi);
    }
    .projects-parent {
      min-width: 100%;
    }
    .vision {
      font-size: var(--font-size-lgi);
    }
    .vision-wrapper {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .aspiring-ceo-and {
      font-size: var(--font-size-5xl);
    }
    .welcome-to-my {
      font-size: var(--font-size-lgi);
    }
    .welcome-to-my-personal-website-wrapper {
      padding-top: var(--padding-21xl);
      box-sizing: border-box;
    }
    .nav-items {
      gap: var(--gap-lg);
    }
    .image4-1-wrapper {
      padding-bottom: 61px;
      box-sizing: border-box;
    }
    .as-an-emerging-container {
      font-size: var(--font-size-lgi);
    }
    .my-mission {
      font-size: 22px;
    }
    .my-mission-is-container,
    .why-it-matters-container {
      font-size: var(--font-size-lgi);
    }
    .frame-group {
      gap: 16px;
    }
  }
  